*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	background: none;
	border: none;
}

:root {
	--light: #006466;
	--lightto: #006466;
	--dark: #0b525b;
	--table-light: #22222262;
	--table-dark: #22222296;
	--selection: #0994d3;
	--selectionto: #22d3ee;
	--card: #123b3b;

	--newtr: #38cb6e;
	--newtrto: turquoise;
	--seetr: var(--selection);
	--seetrto: var(--selectionto);
	--seestat: rgba(255, 0, 0, 0.836);
	--seestatto: rgb(144, 43, 60);
}

.App {
	background: #045454;
	color: aliceblue;
	min-height: calc(100vh - 60px);
	display: flex;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: hsl(210, 36%, 96%);
	color: hsl(209, 61%, 16%);
	line-height: 1.5;
	font-size: 0.875rem;
}

.app-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
}
