*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	background: none;
	border: none;
}

.App {
	background: #045454;
	color: aliceblue;
	min-height: calc(100vh - 60px);
	display: flex;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: hsl(210, 36%, 96%);
	color: hsl(209, 61%, 16%);
	line-height: 1.5;
	font-size: 0.875rem;
}

section {
	width: 100%;
	display: flex;
	padding: 20px;
}
