.status-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: left;
	min-height: 50px;
	gap: 20px;
}

.crd {
	border-radius: 0.25rem;
	background-color: var(--card);
	text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	padding: 10px;
}
