.card {
	padding: 30px;
	width: 100%;
	border-radius: 0.125rem;
	background-color: var(--light);
}
.btns {
	height: 2rem;
	font-weight: 550;
	padding: 0 1rem;
	border: none;
	margin: 0.5rem;
	background-color: #7c3aed;
	border-radius: 0.2rem;
}

.btn-green {
	background-image: linear-gradient(to right, #38cb6e, turquoise);
}

.trnsc-table {
	width: 100%;
}

.trnsc-table tr {
	padding: 0 5px;
	text-align: left;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
	align-items: center;
	height: 3rem;
}

.trnsc-table thead > tr {
	background-color: var(--table-dark);
}
.trnsc-table tbody > tr {
	background-color: var(--table-light);
}